.notiPanel{
    min-height: 50vh;
}
.container-noti{
    max-width: calc(100% - 100px);
    margin: auto;
}
.container-noti .inner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.singleNoti{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    width: 100%;
}
.notititle a{
    color: #444;
font-size: 20px;
font-weight: 800;
cursor: pointer;
display: inline-block;
}
.notititle span{
    font-size: 22px;
    font-weight: 500;
    margin: 5px;
    padding: 5px 5px 5px 0px;
    color: red;
}
@media screen and (max-width:1030px) {
    .singleNoti{
        flex-direction: column;
        text-align: center;
    }
    .notititle a{
        margin-bottom: 10px;
    }
    .NotiDate{
        margin: 20px 0px;
    }
}